In [ ]:
from pathlib import Path

import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

DATA_DIR = Path().resolve().parent.joinpath('data')

In [ ]:
# =============================================================================
# https://www.kaggle.com/datasets/aayushkandpal/credit-card-details-australian-bank
# =============================================================================

In [ ]:
df = pd.read_csv(DATA_DIR.joinpath('external').joinpath('Credit_Card_Applications.csv'), index_col=0)

In [12]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [13]:
X

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14
CustomerID,,,,,,,,,,,,,,
15776156,1,22.08,11.460,2,4,4,1.585,0,0,0,1,2,100,1213
15739548,0,22.67,7.000,2,8,4,0.165,0,0,0,0,2,160,1
15662854,0,29.58,1.750,1,4,4,1.250,0,0,0,1,2,280,1
15687688,0,21.67,11.500,1,5,3,0.000,1,1,11,1,2,0,1
15715750,1,20.17,8.170,2,6,4,1.960,1,1,14,0,2,60,159
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15808223,1,31.57,10.500,2,14,4,6.500,1,0,0,0,2,0,1
15769980,1,20.67,0.415,2,8,4,0.125,0,0,0,0,2,0,45
15675450,0,18.83,9.540,2,6,4,0.085,1,0,0,0,2,100,1
15776494,0,27.42,14.500,2,14,8,3.085,1,1,1,0,2,120,12
15592412,1,41.00,0.040,2,10,4,0.040,0,1,1,0,1,560,1

In [14]:
y

CustomerID
15776156    0
15739548    0
15662854    0
15687688    1
15715750    1
           ..
15808223    1
15769980    0
15675450    1
15776494    1
15592412    1
Name: Class, Length: 690, dtype: int64

In [15]:
neighbors = KNeighborsClassifier(n_neighbors=3)
neighbors.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
neighbors.predict([[1.1]])
neighbors.predict_proba([[.9]])